body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #FAF3E0;
  color: #4E342E;
}

a {
  text-decoration: none;
  color: #4E342E;
}

header, footer {
  background-color: #F9A825;
  color: #fff;
  padding: 15px 30px;
}
